<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hzz - 管理后台 - 首页</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@6.5.1/css/all.min.css">
  <link rel="stylesheet" href="/web/views/index/index.css">

</head>

<body class="bg-theme">
  <header class="bg-white shadow-sm">
    <div id="topBar"></div>
  </header>


  <!-- 主内容区 -->
  <main>
    <!-- hero -->
    <div id="hero" data-config='{"title":"新闻中心","breadcrumb":"新闻","subtitle":"探索我们的故事，了解我们的使命"}'></div>
    
    <section class="py-12 ">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- 这里由JS动态渲染 -->
        <div id="news"></div>
      </div>
    </section>
  </main>

  <footer>
    <div id="footer"></div>
  </footer>

  <script src="./index.js" type="module"></script>
</body>

</html>